
html{
    
}

root { 
    display: block;
}

body {
    background-image: url("floral.jpeg");
}

head {
    height: 200px;
    width: 200px;
}

nav {
    display: inline-block;
    /*
    height: 200px;
    width: 200px;
    */
}

article {
    background-color: yellow;
    height: 200px;
    width: 200px;   
    
}

.art {
    background-color: black;
    color: white;
}
